body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(30, 25, 75, 0.8);
  color: white;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  /* Adjust the minmax value to set the minimum and maximum width of each column */
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}


.project {
  background-color: #2b0232;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  border: 3px solid black;
}

.image {
  max-width: 100%; /* Make sure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent any extra space below the image */
  margin: 0 auto 20px; /* Center the image horizontally and add some space at the bottom */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}

.image2 {
  max-width: 70%; /* Make sure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent any extra space below the image */
  margin: 0 auto 20px; /* Center the image horizontally and add some space at the bottom */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}
.image3 {
  max-width: 70%; /* Make sure the image does not exceed the container width */
  height: 30%; /* Maintain aspect ratio */
  display: block; /* Prevent any extra space below the image */
  margin: 0 auto 20px; /* Center the image horizontally and add some space at the bottom */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}

.project h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
}


.project p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.smallrectangle {
  width: 80%;
  height: 20%;
  background-color: #2b0232;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  margin-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto; /* Center the small rectangle horizontally */
}


.smallrectangle a i {
  font-size: 2em;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #4b045b;
  transition: font-size 0.3s;
}

.smallrectangle a:hover i {
  font-size: 1.5em;
}

.smallrectangle a {
  font-size: 1.0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.social-icon {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.navbar {
  background-color: #333;
  color: white;
  width: 100%; /* Make the navbar span the entire width */
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the container */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Add padding to the top and bottom, and include it in the total width */
  position: relative; /* Add position relative */
  box-sizing: border-box; /* Include padding and border in the width */
}



.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.9em;
  cursor: pointer;
  line-height: 1.2;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown below the menu button */
  right: 0; /* Align the dropdown to the right edge */
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.menu-button.active + .menu-dropdown {
  display: block; /* Show the dropdown when the menu button is active */
}

.home-icon i {
  color: white;
}
