body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(30, 25, 75, 0.8);
  color: white;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  /* Adjust the minmax value to set the minimum and maximum width of each column */
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}

.project {
  background-color: #2b0232;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  border: 3px solid black;
}

.image {
  max-width: 100%; /* Make sure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent any extra space below the image */
  margin: 0 auto 20px; /* Center the image horizontally and add some space at the bottom */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}

.image2 {
  max-width: 70%; /* Make sure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent any extra space below the image */
  margin: 0 auto 20px; /* Center the image horizontally and add some space at the bottom */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}
.image3 {
  max-width: 70%; /* Make sure the image does not exceed the container width */
  height: 30%; /* Maintain aspect ratio */
  display: block; /* Prevent any extra space below the image */
  margin: 0 auto 20px; /* Center the image horizontally and add some space at the bottom */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}

.project h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
}

.project p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
