body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(30, 25, 75, 0.8); /* Dark Blue background color */
  color: white;
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center;
  height: 100vh;
  margin: 0; /* Remove default body margin */
  box-sizing: border-box; /* Include padding and border in the width */
}

.rectangle {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  margin: auto;
  margin-top: 130px; /* Adjust the margin as needed */
  background: linear-gradient(rgba(46, 41, 95, 0.59), rgba(29, 28, 28, 0.59)),
              url('../img/3px-tile.png');
  background-size: cover;
  position: relative; /* Add position relative */
  box-sizing: border-box; /* Include padding and border in the width */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.smallrectangle {
  width: 80%; /* Adjust the width as needed */
  height: 15%; /* Adjust the height as needed */
  background-color: #2b0232;
  margin-top: 10px; /* Adjust the margin as needed */
  border-radius: 10px;
  box-sizing: border-box; /* Include padding and border in the width */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  margin-bottom: 70px; /* Add margin to the bottom */
  display: flex;
  justify-content: space-evenly; /* Space out the links and icons evenly */
  align-items: center; /* Center items vertically */
}

.smallrectangle a i {
  font-size: 2em;
  text-decoration: none;
  color: white;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */
  background-color: #4b045b;
  transition: font-size 0.3s;
}

  .smallrectangle a:hover i {
    font-size: 2.5em; 
  }

  .smallrectangle a {
    font-size: 1.0em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .social-icon {
    width: 70px; /* Set the desired width */
    height: 70px; /* Set the desired height */
    margin-right: 10px; /* Add some spacing between the icons */
 
  }
  
.profile-picture {
  width: 240px;
  height: 270px;
  border-radius: 60%;
  margin-top: -90px;
  border: 5px solid #fff;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  background-clip: padding-box;

}

.profile-details {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 2em;
  color: white;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
}

.role {
  color: white;
  background-color: #2b0232;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  /* CSS rules for smaller screens */
}

.navbar {
  background-color: #333;
  color: white;
  width: 100%; /* Make the navbar span the entire width */
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the container */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Add padding to the top and bottom, and include it in the total width */
  position: relative; /* Add position relative */
  box-sizing: border-box; /* Include padding and border in the width */
}



.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.9em;
  cursor: pointer;
  line-height: 1.2;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown below the menu button */
  right: 0; /* Align the dropdown to the right edge */
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.menu-button.active + .menu-dropdown {
  display: block; /* Show the dropdown when the menu button is active */
}

.home-icon i {
  color: white;
}

